# Applying ML Models

In [6]:
from sklearn import model_selection
import pandas as pd

df = pd.read_csv('data.csv')

## Split Train and Test sets

In [9]:
X_train, X_test, y_train, y_test = \
model_selection.train_test_split( # Test and train data split builtin function
    df.drop('target', 1), # Input Data: dataset without target series(dropped target series from axis 1)
    df['target'], # Output Data: target series
    test_size = .2, # How much to be given to test dataset
    random_state=10 # Seed used to shuffle
)

In [10]:
X_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
286,59,male,3,134,204,0,1,162,0,0.8,2,2,2
102,63,female,1,140,195,0,1,179,0,0.0,2,2,2
242,64,male,0,145,212,0,0,132,0,2.0,1,2,1
65,35,female,0,138,183,0,1,182,0,1.4,2,0,2
35,46,female,2,142,177,0,0,160,1,1.4,0,0,2